[Desktop Entry]
Type=Application
Name=Myrlyn (read-only as a nonprivileged user)
Exec=/usr/bin/myrlyn
Icon=Myrlyn
GenericName=Myrlyn Graphical Software Package Manager (read-only as a nonprivileged user)
Terminal=false
MimeType=
Categories=System;Settings
Keywords=software;package panagement;gui
