[Desktop Entry]
Type=Application
Name=YQPkg (read-only as a nonprivileged user)
Exec=yqpkg
Icon=yqpkg
GenericName=YQPkg Qt-based package manager (read-only as a non-root user)
Terminal=false
MimeType=
Categories=Qt;System;Package Management
Keywords=package management;system administration
